<%= form_with model: profile do |form| %>

  <% if profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this listing from being saved:</h2>
      <ul>
        <% profile.errors.each do |error| %>
          <li><%= profile.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div class="form-group mb-3">
    <%= form.label(:first_name, class:"form-label") %>
    <%= form.text_field(:first_name, class:"form-control") %>
  </div>

  <div class="form-group mb-3">
    <%= form.label(:last_name, class:"form-label") %>
    <%= form.text_field(:last_name, class:"form-control") %>
  </div>

  <div class="form-group mb-3">
    <%= form.label(:biography, class:"form-label") %>
    <%= form.text_area(:biography, class:"form-control") %>
  </div>

  <%= form.fields_for :user do |user|%>
    <div class="form-group mb-3">
      <%= user.label(:username, class:"form-label") %>
      <%= user.text_field(:username, class:"form-control") %>
    </div>
  <% end %>

  <div class="form-group mb-3">
    <%= form.label(:picture, class:'form-label') %>
    <%= form.file_field(:picture, accept: 'image/png,image/jpg,image/jpeg', class:'form-control-file') %>
    <small class="form-text text-muted">PNG, JPG or JPEG only</small>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>