<%= render('shared/navbar')%>

<h1 class="hero-title text-center">Your Liked Products </h1>
<div clas="container">
  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-5">
    <% @liked_products.each do |likes| %>
      <div class="col mb-4">
        <div class="card border-dark">

        <% if likes.product.picture.attached? %>
            <%= image_tag(likes.product.picture, class: 'thumbnail card-img top')%>
          <% else %>
            <%= image_tag('skull.jpg', alt: 'skull print', class: 'thumbnail card-img top h-100')%>
          <% end %>

          <div class="card-body">
            <h5><%= likes.product.name %></h5>
            <p><%= likes.product.likes.count %> <%= (likes.product.likes.count) == 1 ? 'Like' : 'Likes'%></p>
            <h6 class="card-subtitle my-2 text-muted">Added <%= time_ago_in_words(likes.product.created_at)%> ago </h6>
            <p class="card-text text-secondary text-truncate"><%= likes.product.description%></p>
            <div class="d-flex justify-content-between">
              <%= link_to('See More', product_path(likes.product.id), class: "btn btn-outline-primary")%>
              <h5>$<%= likes.product.price%></h5>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>