
<h1> <%= @user.first_name %> <%= @user.last_name %> </h1>

<P> <%= @user.email %> </p>

<p> <%= @user.username %> </p>

<P> <%= @profile.biography %> </p>

<% @user_products.each do |product| %>
    <%= link_to product.name, product_path(product)%>
<% end %>



