<%= render('shared/navbar')%>


<main class="main-container">
  <div class="card border-dark">
    <% if @profile.picture.attached? %>
      <%= image_tag(@profile.picture, class: 'thumbnail card-img top top')%>
    <% else %>
      <%= image_tag('profile_pic.png', alt: 'skull print', class: 'thumbnail card-img top ')%>
    <% end %>
  <div>
</main>


<section class="profile-info">
  <h1> <%= @profile.first_name %> <%= @profile.last_name %> </h1>
  <div class="sidebar col-lg-4 p-0 mx-2 d-md-block">
    <P> <%= @profile.user.email %> </p>

    <p> <%= @profile.user.username %> </p>

    <P> <%= @profile.biography %> </p>

    <% @profile.user.products.each do |product| %>
        <%= link_to product.name, product_path(product)%>
    <% end %>
    <br>
    <%= link_to 'Liked Products', profile_liked_products_path %>
  </div>

  <footer class="footer">
    <% if users_own_profile(@profile) %>
      <%= link_to profile_settings_path, class: "btn btn-default" do %>
        <i class="fas fa-cog fa-3x"></i>
        <% end %>
    <% end %>
  </footer>
</section>
