<section class="head-img-password">
<div class="banner-text">
    <h4>Print it</h4>
    <h3>Discover creative 3D prints <br> and share your files securely.</h3>
  </div>
</section>

<main class="main d-flex flex-coloumn justify-content-center">
  <div class="auth-content d-flex flex-column justify-content-center align-items-center">
    <h2>Forgot your password?</h2>
    <p>Enter the email address you used when you joined and we’ll send you instructions to reset your password.</p>
    <p>For security reasons, we do NOT store your password. So rest assured that we will never send your password via email.</p>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-group" %>
      </div>

      <div class="actions">
        <%= f.submit "Send reset instructions" %>
      </div>
    <% end %>

    <div class="sign-up"> 
          <%= render "devise/shared/links"%><%# Sign Up / Forgot your password %>
    </div>

  <div>
</main>
