<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
    <div class="container-fluid">
        <div class="logo-container"> 
            <%= image_tag('3Dprinter.png', class: 'logo')%> 
            <%= link_to('PRINT IT!', root_path, class: 'navbar-brand')%>
        </div>
        <ul class="navbar-nav mr-5-lg">
            <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to(current_user.username,  profile_path(current_user), class: 'nav-link  text-warning')%>
                </li>
                <li class="nav-item">
                    <%= link_to('See products', products_path, class: 'nav-link')%>
                </li>
                <li class="nav-item">
                    <%= link_to('Create Product', new_product_path, class: 'nav-link')%>
                </li>
                <li class="nav-item">
                    <%= link_to('Log Out', destroy_user_session_path, method: :delete, class: "nav-link")%>
                </li>
            <% else %>
                <li class="nav-item">
                    <%= link_to('Sign Up', new_user_session_path, class: "nav-link")%>
                </li>
                <li class="nav-item">
                    <%= link_to('Log In', new_user_session_path, class: "nav-link")%>
                </li>
            <% end %>
        </ul>
    </div>
</nav>