<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">WELCOME</h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>


<div clas="container">
  <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-6">
    <% @products.each do |product| %>
      <div class="col mb-4">
        <div class="card border-dark h-100">
        <% if product.picture.attached? %>
            <%= image_tag(product.picture, class: 'thumbnail card-img top')%>
          <% else %>
            <%= image_tag('skull.jpg', alt: 'skull print', class: 'thumbnail card-img top')%>
          <% end %>
          <div class="card-body">
            <h5><%= product.name %></h5>
            <h6 class="card-subtitle my-2 text-muted">Added <%= time_ago_in_words(product.created_at)%> ago </h6>
            <p class="card-text text-secondary text-truncate"><%= product.description%></p>
            <div class="d-flex justify-content-between">
              <%= link_to('See More', product_path(product.id), class: "btn btn-outline-primary")%>
              <h5>$<%=product.price%></h5>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>