<%= render('shared/navbar')%>

<main class="main-container">
  <div class="card card-show border-dark">
    <% if @product.picture.attached? %>
    <%= image_tag(@product.picture, class: ' thumbnail-show ') %>
    <% else %>
      <%= image_tag('skull.jpg', alt: 'skull print', class: 'thumbnail card-img top')%>
    <% end %>
  <div>
</main>

<%# Display user identification and product name. %>
<section class="product-info">
  <h1> <%= @product.name %> </h1>
  <div class="sidebar col-lg-4 p-0 mx-2 d-md-block"> 
    <h6 class="card-subtitle my-2 text-muted">Added <%= time_ago_in_words(@product.created_at)%> ago </h6>
    <p> <%= link_to(@product.user.username, profile_path(@product.user.profile.id)) %> </p>
    <%# Display product bulk information. %>
    <p> <%= @product.material.name%> </p>

    <%@product.categories.each do |cat| %>
        <span class="badge badge-pill badge-primary"> <%= cat.name %> </span>
      <% end %>
    <p class="blockquote mt-2"> <%= @product.description %> </p>
    
  <%# Render like button if user is sign in, if user is not sign in, display likes count. %>
    <% if user_signed_in?%>
      <p> <%= render('shared/likes')%> <%= @product.likes.count %> <%= format_likes(@product)%> </p>
    <% else %>
      <p> <%= @product.likes.count %> <%= format_likes(@product)%> </p>
    <% end %>

  </div>
  <%# Show buy button if current_user has not purchased this item. %>
  <%# <% if current_user && @product.purchased == false%> 
  <% if user_signed_in?%>
    <button data-stripe='payment' class="btn btn-primary p-3">Buy: $<%= @product.price %> </button>
  <% else %>
    <%=button_to('Login to buy', new_user_session_path, class:"btn btn-danger") %>
  <% end %>


  <div class="container">
    <div class="d-flex justify-content-envenly">
    <% if users_own_profile(@product) %>
        <%= link_to product_settings_path, class: "btn btn-default" do %>
          <i class="fas fa-cog fa-3x"></i>
          <% end %>
      <% end %>
    </div>
  </div>
</section>

<script src="https://js.stripe.com/v3/"></script>

<script>
    const button = document.querySelector("[data-stripe='payment']");
    if (button) {
      button.addEventListener("click", () => {
        const stripe = Stripe(
          "<%=Rails.application.credentials.dig(:stripe, :public_key)%>"
        );
        stripe.redirectToCheckout({
          sessionId: "<%= @session_id%>"
        });
      });
    }
</script>